{
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 160,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/styles/globals.css",
    "tailwindFunctions": ["clsx", "cn", "tw", "cva"],
    "tailwindPreserveWhitespace": true,
    "tailwindPreserveDuplicates": false
}