@import "tailwindcss";
@import "./colors";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-*: initial;
}

html {
  font-family: "Inter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
